@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{box-sizing: border-box; margin: 0; padding: 0;}

body {
    font-family: 'Poppins', sans-serif;
    color: #111;
}

.navigation {
    /* display: none; */
}

.services-wrapper {
    display: block;
}


.navbar {
    box-shadow: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.logo {
    font-size: 28px;
    font-weight: 700;
    padding-left: 100px;
    padding-top: 40px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}


/* SERVICES CONTENT */

.services_desc {
    width: 100%;
    max-width: 1650px;
    padding-left: 100px;
    padding-top: 60px;
}

.grid {
    padding: 50px;
    width: 100%;
    max-width: 1650px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 550px);
    justify-content: center;
    align-items: center;
    gap: 40px;
}
    
    

.g-col-6 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
    
}
    
    
    

.g-col-6:hover {
    background-color: #f8f8f8;

    box-shadow: 1px 1px #ececec;
   
}

.g-col-6 img{
    width: 100px;
    margin:0 auto;
}


/* MENU SECTION */

.menu-lightbox {
    /* transition: all 2s ease-in-out; */
    /* display: none; */

}

.menu-links.active {
    /* transition: all 2s ease-in-out; */
    animation-duration: 1.5s;
  
    animation-name: fadein;
    
}

.navbar.active {
    animation-duration: 1.5s;
    
    animation-name: fadein; 
}



@-webkit-keyframes fadein{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

.menu-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}
    

.social {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-left: 100px;
    
}

.social img {
    width: 20px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
    
.nav-links a {
    color: #111;
    font-size: 32px;
    transition: all 0.2s ease-in-out;
}

.nav-links a:hover {
    color: #f60f20;
    font-weight: 100;
}

.menu {
    position: absolute; 
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.menu .fas {
    color: #ffffff;
}

.open_menu,
.close_menu {
    cursor: pointer;
    background-color:#f60f20 ;
    padding: 15px 30px;
    text-decoration: none;
    border: 0;
    z-index: 20;
    position: fixed;
}
   

.close_menu {
    display: none;
}



.menu-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* MEDIA QUERY */

@media (max-width:1740px) {
    

    .services_desc {
        width: 100%;
        max-width: 1740px;
        margin: 0 auto;
        padding-top: 150px;
        padding-left: 100;
        line-height: 1.9;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        font-size: 28px;
        font-weight: 700;
        padding-left: 100px;
        padding-top: 0;
    }

    .grid {
        padding: 50px;
        width: 100%;
        max-width: 1500px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
        
}

@media (max-width:1281px) {
    .services_desc {
        width: 100%;
        max-width: 1740px;
        margin: 0 auto;
        padding-top: 150px;
        padding-left: 50px;
        line-height: 1.9;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        font-size: 28px;
        font-weight: 700;
        padding-left: 50px;
        padding-top: 0;
    }

    .grid {
        padding: 50px;
        width: 100%;
        max-width: 1281px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
}


@media (max-width:1082px) {
    .services_desc {
        width: 100%;
        max-width: 1740px;
        margin: 0 auto;
        padding-top: 150px;
        padding-left: 50px;
        line-height: 1.9;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        font-size: 28px;
        font-weight: 700;
        padding-left: 50px;
        padding-top: 0;
    }

    .grid {
        padding: 50px;
        width: 100%;
        max-width: 1281px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
}

@media (max-width:816px) {
    .services_desc {
        width: 100%;
        max-width: 816px;
        margin: 0 auto;
        padding-top: 150px;
        padding-left: 10px;
        line-height: 1.9;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        font-size: 28px;
        font-weight: 700;
        padding-left: 10px;
        padding-top: 0;
    }

    .grid {
        padding: 50px;
        width: 100%;
        max-width: 816px;
        margin: 0 auto;
        display: grid;
        grid-template-columns:1fr;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    
}

@media (max-width:776px) {
    .services_desc {
        width: 100%;
        max-width: 776px;
        margin: 0 auto;
        padding-top: 150px;
        padding-left: 10px;
        line-height: 1.9;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        font-size: 28px;
        font-weight: 700;
        padding-left: 10px;
        padding-top: 0;
    }

    .grid {
        padding: 50px;
        width: 100%;
        max-width: 776px;
        margin: 0 auto;
        display: grid;
        grid-template-columns:1fr;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    
}

@media (max-width:600px) {
    .services-title h1 {
        font-size: 28px;
    }
    .services_desc {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding-top: 150px;
        padding-left: 10px;
        line-height: 1.9;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        font-size: 28px;
        font-weight: 700;
        padding-left: 10px;
        padding-top: 0;
    }

    .grid {
        padding: 50px;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        display: grid;
        grid-template-columns:1fr;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    
}

@media (max-width:480px) {

    .services-title h1 {
        font-size: 22px;
    }
    .services_desc {
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
        padding-top: 150px;
        padding-left: 5px;
        line-height: 1.9;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        font-size: 28px;
        font-weight: 700;
        padding-left: 5px;
        padding-top: 0;
    }

    .grid {
        padding: 50px;
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
        display: grid;
        grid-template-columns:1fr;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
}

@media (max-width:320px) {
    .services-title h1 {
        font-size: 18px;
    }

    .services_desc {
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
        padding-top: 150px;
        padding-left: 5px;
        line-height: 1.9;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        font-size: 28px;
        font-weight: 700;
        padding-left: 5px;
        padding-top: 0;
    }

    .grid {
        padding: 50px;
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
        display: grid;
        grid-template-columns:1fr;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
}
    
    






    
 
    
