@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{box-sizing: border-box; margin: 0; padding: 0;}

body {
    font-family: 'Poppins', sans-serif;
    color: #111;
}


.navbar {
    box-shadow: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.logo {
    font-size: 28px;
    font-weight: 700;
    padding-left: 100px;
    padding-top: 40px;
}

.menu {
    position: absolute; 
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.menu .fas {
    color: #ffffff;
}
  
  

.open_menu,
.close_menu {
    cursor: pointer;
    background-color:#f60f20 ;
    padding: 15px 30px;
    text-decoration: none;
    border: 0;
    z-index: 20;
    position: fixed;
}
   

.close_menu {
    display: none;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}


/* SERVICES CONTENT */

.services_desc {
    width: 100%;
    max-width: 1650px;
    padding-left: 100px;
    padding-top: 60px;
}

.grid {
    padding: 50px;
    width: 100%;
    max-width: 1650px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 550px);
    justify-content: center;
    align-items: center;
    gap: 40px;
}
    
    

.g-col-6 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 50px;
    
}
    
    
    

.g-col-6:hover {
    background-color: #f8f8f8;

    box-shadow: 1px 1px #ececec;
   
}

.g-col-6 img{
    width: 100px;
    margin:0 auto;
}
    






    
 
    
