@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #111;
}

.wrapper {
    width: 100%;
}

.navbar {
    box-shadow: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.navigation {
    display: block;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    padding-left: 100px;
    padding-top: 40px;
}

/* SIDENAV */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.2s;

}

.sidenav a:hover {
    color: #f60f20;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}




@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* SIDENAV ENDS HERE */




.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
}


.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.content img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 110%;
}


.desc {
    width: 100%;
    max-width: 575px;
    padding-left: 100px;
    padding-top: 250px;
    line-height: 1.9;

}

.para {
    padding-top: 25px;
    padding-bottom: 25px;
}

.para p {
    font-size: 15px;
}

.btn {
    background-color: #f60f20;
    padding: 15px 40px;
}

.btn a {
    color: #ffffff;
    font-size: 24p;
}


.menu-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.social {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-left: 100px;

}

.social img {
    width: 20px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.nav-links a {
    color: #111;
    font-size: 32px;
    transition: all 0.2s ease-in-out;
}

.nav-links a:hover {
    color: #f60f20;
    font-weight: 100;
}


/* MEDIA QUERY */

@media (max-width:1230px) {
    .hero-image {
        display: none;
    }

    .desc {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding-top: 250px;
        padding-left: 0;
        line-height: 1.9;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        font-size: 28px;
        font-weight: 700;
        padding-left: 20px;
        padding-top: 0;

    }
}

@media (max-width:768px) {
    .content {
        align-items: center;
        width: 100%;
        max-width: 668px;
        margin: auto;

    }

    .hero-image {
        display: none;
    }

    .desc {
        width: 100%;
        max-width: 575px;
        margin: auto;
        padding-top: 250px;
        padding-left: 0;
        line-height: 1.9;

    }

    .logo {
        font-size: 28px;
        font-weight: 700;
        padding-left: 20px;
        padding-top: 0;
    }


}


@media (max-width:600px) {
    .hero-image {
        display: none;
    }

    .desc {
        width: 100%;
        max-width: 575px;
        margin: 0 auto;
        padding-left: 0;
        padding-top: 250px;
        line-height: 1.9;

    }

    .logo {
        font-size: 28px;
        font-weight: 700;
        padding-left: 20px;
        padding-top: 0;
    }

    .social {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding-left: 20px;

    }
}

@media (max-width:576px) {
    .hero-image {
        display: none;
    }

    .desc {
        width: 100%;
        max-width: 475px;
        margin: 0 auto;
        padding-top: 250px;
        padding-left: 0;
        line-height: 1.9;

    }

    .logo {
        font-size: 28px;
        font-weight: 700;
        padding-left: 20px;
        padding-top: 0;
    }
}

@media (max-width:480px) {
    .hero-image {
        display: none;
    }

    .desc {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
        padding-top: 250px;
        padding-left: 0;
        line-height: 1.9;

    }

    .logo {
        font-size: 28px;
        font-weight: 700;
        padding-left: 20px;
        padding-top: 0;
    }

    .social {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding-left: 10px;

    }
}

@media (max-width:320px) {
    .hero-image {
        display: none;
    }

    .desc {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        padding-top: 250px;
        padding-left: 0;
        line-height: 1.9;

    }

    .logo {
        font-size: 28px;
        font-weight: 700;
        padding-left: 20px;
        padding-top: 0;
    }

    .social {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding-left: 0px;
    }

}